.App{
  padding: 8px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px 15px; /* 10px vertical padding, 15px horizontal padding */
  text-align: left; /* Align text to the left */
  border: 1px solid #ddd; /* Add a light border to cells */
}


.table-coupons{
  margin-top: 20px;
}

.link {
  background-color: #282c34;
  color: #61dafb;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
}

.link:hover {
  background-color: #1f2228;
  color: #61dafb;
}

.m1{
  margin:10px;
}

.eth-address-input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 300px; /* Adjust width as needed */
}

.eth-address-input:focus {
  outline: none;
  border-color: #61dafb; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(97, 218, 251, 0.5); /* Add a lighter box-shadow on focus */
}


.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust height as needed */
}

.spinner {
  border: 3px solid rgba(97, 218, 251, 0.2); /* Light border color */
  border-top: 3px solid #61dafb; /* Match the link color */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite; /* Animation to rotate spinner */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


td, th {
  font-size: 0.8em;
}

/* Example theme colors */
:root {
  --primary-color: #4CAF50; /* Primary color for the button */
  --secondary-color: #ffffff; /* Secondary color for the text */
  --hover-color: #45a049; /* Hover color */
  --border-radius: 5px; /* Border radius */
  --font-family: 'Arial', sans-serif; /* Font family */
}

.connect-wallet-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: var(--font-family);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.connect-wallet-button:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

.connect-wallet-button:active {
  background-color: var(--hover-color);
  transform: scale(0.95);
}


.top-right{
  position: absolute;
  right: 10px;
}

.address-container {
  margin-top: 20px;
}

.connected-address {
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 5px;
  font-family: monospace;
  font-size: 14px;
  color: #333333;
}


.disconnect-wallet-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.disconnect-wallet-button:hover {
  background-color: #d32f2f; /* Darker red */
}

.rw-sb{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.address-text{
  display: inline-flex;
  padding: 0px 6px ;
  border-radius: 6px;
  background-color: rgba(240, 240, 240, 0.9); 
  transition: background-color 0.3s ease;
}


.address-text:hover {
  background-color: rgba(200, 200, 200, 0.9);
}